<div class="container">

  <div> 
<!-- Title -->
  <h1>WeatherStyle</h1>
    
    <br>
 

<body>

<form id="create-form">

  <a href="https://www.ebay.com/rpp/fashion-main">
   <img class="" src="assets/img/ebay.png" id="ebay-icon" alt="ebay">

  <a class="nav-link" href="/07002">Home<span class="sr-only">(current)</span></a>
        <br>
        <br>
<!-- CAROUSEL -->

    <div id="carouselDiv" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" id="reg-img" src="assets/img/img7.jpeg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" id="reg-img" src="assets/img/img4.jpeg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" id="reg-img" src="assets/img/img11.jpeg" alt="Third slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" id="reg-img" src="assets/img/img8.jpeg" alt="Fourth slide">
    </div>
     <div class="carousel-item">
      <img class="d-block w-100" id="reg-img" src="assets/img/img15.jpeg" alt="Fifth slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" id="reg-img" src="assets/img/img12.jpeg" alt="Sixth slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- CAROUSEL END -->

<!-- NEW USER REGISTRATION FORM -->

      <div class="form-group">
      <div class="form-check">

      </div>
    </div>

    <h2>Create an Account</h2>

    <br>

    <br>
  <div class="form-row">
    <div class="form-group col-md-6"> 
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputName">First Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Name">
    </div>
    <div class="form-group col-md-4">
      <label for="inputGender">Style Preference</label>
        <select id="inputGender" class="form-control">
        <option value="women">Feminine</option>
         <option value="men">Masculine</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip" >
      <br>
    </div>
  <!-- <button type="submit" class="btn btn-primary" id="create">Create</button> -->

  <!-- Button trigger modal -->
<button type="submit" class="btn btn-primary" id="create" data-toggle="modal" data-target="#myModal">
  Create
</button>

  </div>
   
  <!-- Modal -->

   <div class="modal" id="myModal" tabindex="1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitle">Thank you!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modalContent">
        WeatherStyle

          <br>

        <img src="assets/img/modal-image.jpeg" id="modal-image" alt="modal-image">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
</form>