
#create-form {
	border-style: solid;
	 padding: 100px;
	 width: 100%;
	 padding-left: 250px;
	 background-color: #EAF9F9;
}


.navbar {
	width: 100%;
	background-color: #8FA8F9;
}


#inputEmail4,
#inputPassword4,
#inputStyle {
	width: 75%;

}


#nav-input{
	padding-left: 550px; 

}

#register-nav{
	
}

.nav-link {
	float: right;
	font-size: 25px;
	padding-top: 0px;
}
/*#inputStyle,
#inputZip {
	padding-left: 40px;
}*/

h1 {
	padding-left: 200px;
	font-size: 125px ;
	font-family: 'Berkshire Swash', cursive;

}

h2{
	font-size: 75px;
	font-family: 'Berkshire Swash', cursive;
	/*padding-left: px;*/
	
}

body {
	background-image: url("images/bodyimg.png");
}


/*Home Page styling\*/